---
- name: Ensure backup script exists
  ansible.builtin.template:
    src: backup.py.j2
    dest: "{{ openobserve_backup_config_root }}/backup.py"
    mode: "0755"
    owner: "{{ openobserve_backup_config_user }}"

- name: Configure openobserve backup systemd service unit
  ansible.builtin.template:
    src: "systemd-openobserve-backup.service.j2"
    dest: "/etc/systemd/system/openobserve-backup.service"
    mode: "0644"
    owner: root
  notify:
    - Reload systemd

- name: Configure openobserve backup systemd timer unit
  ansible.builtin.template:
    src: "systemd-openobserve-backup.timer.j2"
    dest: "/etc/systemd/system/openobserve-backup.timer"
    mode: "0644"
    owner: root
  notify:
    - Reload systemd

- name: Enable and start openobserve-backup service+timer
  ansible.builtin.service:
    name: "{{ item }}"
    state: started
    enabled: true
  loop:
    - openobserve-backup.service
    - openobserve-backup.timer
  when: not is_container | bool

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
