---
- name: Get cpuinfo
  ansible.builtin.command:
    cmd: cat /proc/cpuinfo
  changed_when: false
  register: cpuinfo

- name: Ensure cpu has aes and sse2 are available - gxhash
  ansible.builtin.debug:
    msg: "WARNING! old cpu without aes and sse2. Need source build."
  when:
    - "'+aes' not in cpuinfo.stdout"
    - "'+sse2' not in cpuinfo.stdout"
