---
- name: Linux platform
  ansible.builtin.set_fact:
    openobserve_platform: linux
  when: ansible_facts['system'] == 'Linux'
- name: Darwin platform
  ansible.builtin.set_fact:
    openobserve_platform: darwin
  when: ansible_facts['system'] == 'MacOS'
- name: X86_64 arch
  ansible.builtin.set_fact:
    openobserve_arch: amd64
  when: ansible_facts['architecture'] == 'x86_64'
- name: Aarch64 arch
  ansible.builtin.set_fact:
    openobserve_arch: arm64
  when: ansible_facts['architecture'] == 'aarch64'
- name: Debug
  ansible.builtin.debug:
    var: "{{ item }}"
  loop:
    - ansible_facts['system']
    - ansible_facts['architecture']

- name: Set fact is_container
  ansible.builtin.set_fact:
    is_container: true
  when: >
    (ansible_facts['virtualization_type'] is defined and
      (ansible_facts['virtualization_type'] == "docker"
       or ansible_facts['virtualization_type'] == "containerd"
       or ansible_facts['virtualization_type'] == "container"
      )
    )

- name: Import compatibility-check
  ansible.builtin.import_tasks: compatibility-check.yml

- name: Debian | Update apt cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: "3600"
  when: ansible_facts['os_family'] == 'Debian'
  register: pkg_result
  until: pkg_result is success

- name: Ensure archives folder exists
  ansible.builtin.file:
    dest: "{{ install_archives }}"
    state: directory
    mode: "0775"
  become: true
  become_user: root
  when:
    - install_archives != '/tmp'
    - install_archives != '/var/tmp'

- name: Import server
  ansible.builtin.import_tasks: server.yml
