---
- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true
  become: true
  become_user: root
  when: not is_container | bool

- name: Restart openobserve
  ansible.builtin.service:
    name: openobserve
    state: restarted
  become: true
  become_user: root
  when: not is_container | bool

- name: Restart otel-collector
  ansible.builtin.service:
    name: otel-collector
    state: restarted
  become: true
  become_user: root
  when: not is_container | bool

- name: Add to /etc/ca-certificates.conf
  ansible.builtin.lineinfile:
    path: /etc/ca-certificates.conf
    line: "{{ openobserve_server_crt_filepath | basename | regex_replace('.crt', '-openobserve.crt') }}"
    mode: "0644"
    owner: root

- name: Update-ca-certificates
  ansible.builtin.command: # noqa no-changed-when
    cmd: update-ca-certificates
  become: true
