{{ ansible_managed | comment }}
# Note: export is required for shell usage, but not for systemd EnvironmentFile
ZO_ROOT_USER_EMAIL="{{ oo_root_user_email }}"
ZO_ROOT_USER_PASSWORD="{{ oo_root_user_pass }}"
ZO_HTTP_ADDR="{{ oo_listen_host }}"
ZO_HTTP_PORT="{{ oo_listen_port }}"
ZO_GRPC_PORT="{{ oo_listen_port_grpc }}"
ZO_COMPACT_DATA_RETENTION_DAYS={{ oo_compact_retention }}
ZO_TELEMETRY={{ oo_telemetry | bool | lower }}
