{{ ansible_managed | comment }}
# test
ifconfig.me
# install
# code
github.com
objects.githubusercontent.com
# openobserve.ai
zinc-public-data.s3.us-west-2.amazonaws.com
# build
index.crates.io
static.crates.io
sh.rustup.rs
static.rust-lang.org
geoip.zinclabs.dev
# openobserve telemetry. will terminate if not accessible
# else telemetry must be explicitly disabled
# e1.zinclabs.dev
# d13iq09bj4mop3.cloudfront.net
# system - tinyproxy takes a single filters file
archive.ubuntu.com
ca.archive.ubuntu.com
azure.archive.ubuntu.com
security.ubuntu.com
ddebs.ubuntu.com
archive.canonical.com
changelogs.ubuntu.com
nova.clouds.archive.ubuntu.com
keyserver.ubuntu.com
livepatch.canonical.com
ppa.launchpad.net
esm.ubuntu.com
# optional tools
mirrors.digitalocean.com
digitaloceanmirrors.com
repos.sonar.digitalocean.com
repos.insights.digitalocean.com
repos-droplet.digitalocean.com
pkg.osquery.io
osquery-packages.s3.us-east-1.amazonaws.com
pkg.osquerypackages.com
download.falco.org
packages.microsoft.com
artifacts.elastic.co
dl.filippo.io
